page-category {
.overlapper{
    background-color: white;
    border: 1px solid black;
    margin: 0 15px;
    z-index: 1;
    transform: translateY(-50px);
    padding: 0 16px;
}
[prod]{
    max-height: 60vh;
    width: auto;
    margin: 0 auto;
}
}
