<ion-header>

  <ion-navbar color="light">
     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{page?.title | titlecase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<div *ngIf="category_side === 'products'" style="display:contents">
  <ion-card *ngFor="let prod of products | async" (click)="openProd(prod)" tappable>
    <img [src]="prod.media_url | async" prod>
    <ion-card-content>
      <ion-card-title [innerHTML]="prod.title">
      </ion-card-title>
      <div [innerHTML]="prod.excerpt"></div>
    </ion-card-content>
  </ion-card>

</div>
<div *ngIf="category_side === 'posts'" style="display:contents">
 
     <ion-card *ngFor="let post of posts | async" (click)="openPost(post)" tappable>
    <img [src]="post.media_url | async">
    <ion-card-content>
      <ion-card-title [innerHTML]="post.title"></ion-card-title>
      <div [innerHTML]="post.excerpt"></div>
    </ion-card-content>
  </ion-card>
  
</div>
<div *ngIf="category_side === 'content'" style="display:contents">
<img [src]="featured | async">
 <div [innerHTML]="content" class='overlapper' *ngIf="featured"></div>
 
</div>
</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <ion-segment [(ngModel)]="category_side" color="secondary" (ionChange)="segmentChange()">
      <ion-segment-button value="products">
        <ion-icon name="ios-eye-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="posts">
        <ion-icon name="ios-albums-outline"></ion-icon>
      </ion-segment-button>
       <ion-segment-button value="content">
        <ion-icon name="ios-book-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>