<ion-header>
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>The Beauty Insider</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 
  <ion-slides>
    <ion-slide *ngFor="let post of posts | async | slice:0:10" (click)="openPost(post)" tappable>
      <ion-card>

        <!-- <dummy *ngIf="(post?.media_url | async) === null"></dummy> -->
        <img [src]="post?.media_url | async" *ngIf="post.media_url">
        <ion-card-content>
          <ion-card-title>
            {{ post.title }}
          </ion-card-title>
          <div [innerHTML]="post.excerpt"></div>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide (click)="goBlog()" tappable>
      
          <img src="/assets/logo.gif" width="60%">
          <button ion-button color="secondary">Check the blog</button>
     
    </ion-slide>
  </ion-slides>
</ion-content>